/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;0,700;1,600&display=swap"); */

/* main body style */
body {
  margin: 0px;
  background: white;
}

/* common style */

.slider,
nav {
  display: flex;
  background: #2d25a0;
}

/* navigation menu style */

nav ul {
  display: flex;
  list-style: none;
}

nav > ul > li > a {
  padding-right: 15px;
  margin-left: 50px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500px;
  color: white;
  text-decoration: none;
}

/* slider section style */

.half-width {
  width: 50%;
  padding: 10%;
}

.half-width img {
  width: 100%;
}

.hero-ctr h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
}

button {
  padding: 10px 24px;
  background-color: #e02c6d;
  border: none;
}

button a,
i {
  text-decoration: none;
  color: white;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
}

/* top player style */

.top-players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.player {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  width: 330px;
  height: 500px;
  margin: 60px 30px;
  background-color: white;
  padding: 15px;
}

.player img {
  height: 256px;
  padding: 15px;
}

.player-description {
  padding: 0 15px 0 15px;
}

.player h3 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
}

.player p {
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  color: #6c6c6c;
}

/* highlights section style */

.highlights {
  display: flex;
  align-items: center;
  margin: 50px 150px;
}

.highlights h3 {
  font-family: Poppins;
  font-weight: 700px;
  font-size: 48px;
  color: #0a0826;
}

.highlights p {
  font-family: Poppins;
  font-size: 16px;
  line-height: 28px;

  color: #6c6c6c;
}

.highlights img {
  height: 427px;
  /* width: 567px; */
}
.one-third-width {
  width: 50%;
  padding-right: 15px;
  margin-top: 20px;
}

/* footer section style */

footer {
  padding-top: 50px;
}

.fa {
  color: #e02c6d;
}

.social-icons {
  text-align: center;
}

.social-icons img {
  width: 30%;
}
